.header {
  font-weight: bold;
  text-align: center;

  &:first-of-type {
    text-align: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  p {
    &:first-of-type {
      font-weight: bold;
    }
  }

  &:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  &__col {
    flex-grow: 1;
    min-width: $col-min-width;
    margin: $gutter;

    &--3-4 {
      flex-basis: calc(75% - #{$gutter} - #{$gutter});
    }

    &--1-4 {
      flex-basis: calc(25% - #{$gutter} - #{$gutter});
    }
  }
}
@media (max-width: 768px) {
  .row {
    &__col {
      &--3-4 {
        flex-basis: calc(50% - #{$gutter} - #{$gutter});
      }

      &--1-4 {
        flex-basis: calc(50% - #{$gutter} - #{$gutter});
      }
    }
  }
}
