.footer {
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: $c-footer;

  .fa {
    margin: 1em;
  }

  .fa-twitter {
    color: $c-icon;
  }

  .fa-facebook {
    color: $c-icon;
  }

  .fa-github {
    color: $c-icon;
  }

  .fa-linkedin {
    color: $c-icon;
  }

  img {
    height: 1.5rem;
    margin: 1em;
  }
}
