$c-nav: #2b3e51;
$c-white: #fff;
$c-hero: #227fbb;
$c-black: #000305;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'components/nav-bar';

.hero {
  padding: 3.5rem;
  background: $c-hero;
  text-transform: uppercase;

  &__headline {
    display: flex;
    justify-content: center;
    color: $c-black;
    font-weight: bold;
  }

  &__byline {
    display: flex;
    justify-content: center;
    color: $c-white;
    text-align: center;
  }
}
